@import '~@angular/material/theming';

@mixin custom-mat-box-list($theme) {
    $primary-palette: map-get($theme, primary);
    $primary-color-default: mat-color($primary-palette, default);
    $accent-palette: map-get($theme, accent);
    $accent-color-hover-bg: mat-color($accent-palette, 200);
    $accent-color-bg: mat-color($accent-palette, 50);

    .mat-nav-list.box-list {
        min-width: 180px;
        max-height: 100%;
        height: 100%;
        margin: 10px 0;
        padding-bottom: 20px;
        text-align: center;
        overflow-y: auto;
        background-color: #f4f5f9;
        .mat-list-item {
            position: relative;
            max-width: 230px;
            max-height: 84px;
            height: 84px;
            margin: 8px auto;
            padding: 0 8px;
            border-radius: 4px;
            background-color: $accent-color-bg;
            transition: background-color 0.5s ease-in;

            @include mat-elevation(2);
            @include mat-elevation-transition;
            &:hover {// , &.active
                @include mat-elevation(8);
            }

            &:first-of-type {
                margin-top: 0;
            }
            .mat-list-item-content {
                flex-direction: column;
                justify-content: center;
                align-items: flex-start;
                padding: 13px 10px;
                .content-row {
                  flex-direction: row;
                  align-items: flex-start;
                  &.title { font-size: 18px; line-height: 22px; }
                }
            }

            .remove-btn {
              position: absolute;
              top: -8px;
              right: -16px;
            }
        }

        .mat-list-item.active, .mat-list-item:hover, .mat-list-item-focus {
            background-color: $accent-color-hover-bg;
        }
        .mat-list-item-focus {
            border: 2px solid $primary-color-default;
        }
    }

}
